@import url('https://fonts.googleapis.com/css?family=Cabin');

.update-project {
  font-family: 'Courier New', Courier, monospace;
}

.update-project form {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px 20px;
}

.update-project legend {
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-size: 25px;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.update-project input,
textarea {
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  width: 100%;
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.update-project input[type='submit'] {
  font-size: 20px;
  background: #166387;
  border: 1px solid #044c6e;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2),
    0px 4px 0px rgba(6, 82, 117, 1);
}

.update-project input[type='submit']:hover {
  cursor: pointer;
}

.update-project input:focus,
textarea:focus {
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.1);
  resize: none;
}

.update-project label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  margin-bottom: 13px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.update-project select {
  height: auto;
  margin: 0;
  background: none;
  width: 100%;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  width: 100%;
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  font-family: 'Courier New', Courier, monospace;
}
